<div class="auth-wrapper">
    <div class="auth-card">

        <div class="brand">SmartStay</div>

        <h2 class="title">Login</h2>
        <p class="subtitle">Login to continue booking</p>

        <input type="email" class="input" placeholder="Email" [(ngModel)]="email">

        <div class="input-group">
            <input [type]="showPassword ? 'text' : 'password'" class="input" placeholder="Password"
                [(ngModel)]="password">

            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="showPassword = !showPassword">
            </i>
        </div>

        <div class="error" *ngIf="password && password.length < 8">
            Password must be at least 8 characters
        </div>

        <button class="btn-primary" (click)="login()" [disabled]="loading">

            {{ loading ? 'Logging in...' : 'Login' }}
        </button>

        <div class="link">
            <a routerLink="/register">Create account</a>
        </div>

        <div *ngIf="errorMessage" class="alert error-box">
            {{ errorMessage }}
        </div>

        <div *ngIf="successMessage" class="alert success-box">
            {{ successMessage }}
        </div>

    </div>
</div>