<div class="auth-wrapper">
     <div class="auth-card">

          <div class="brand">SmartStay</div>

          <h2 class="title">Register</h2>
          <p class="subtitle">Create your account</p>

          <input type="text" class="input" placeholder="Full Name" [(ngModel)]="name">

          <input type="email" class="input" placeholder="Email" [(ngModel)]="email">

          <div class="input-group">
               <input [type]="showPassword ? 'text' : 'password'" class="input" placeholder="Password"
                    [(ngModel)]="password">

               <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
                    (click)="showPassword = !showPassword">
               </i>
          </div>

          <div class="input-group">
               <input [type]="showConfirmPassword ? 'text' : 'password'" class="input" placeholder="Confirm Password"
                    [(ngModel)]="confirmPassword">

               <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"
                    (click)="showConfirmPassword = !showConfirmPassword">
               </i>
          </div>

          <input type="text" class="input" placeholder="Phone Number" [(ngModel)]="phoneNumber">

          <button class="btn-primary" (click)="register()" [disabled]="loading">

               {{ loading ? 'Creating account...' : 'Register' }}
          </button>

          <div class="link">
               <a routerLink="/login">Already have an account?</a>
          </div>

          <div *ngIf="errorMessage" class="alert error-box">
               {{ errorMessage }}
          </div>

          <div *ngIf="successMessage" class="alert success-box">
               {{ successMessage }}
          </div>

     </div>
</div>