<div class="container py-5">
  <h2 class="fw-bold mb-4">Rooms</h2>

  <!-- LOADING -->
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border"></div>
  </div>

  <!-- DATA -->
  <div class="row g-4" *ngIf="!loading && rooms.length > 0">
    <div class="col-md-6 col-lg-4" *ngFor="let room of rooms">
      <div class="room-card">

        <!-- Image -->
        <div class="room-img-wrapper">
          <img [src]="room.thumbnailImageUrl 
              ? 'https://localhost:7094/' + room.thumbnailImageUrl 
              : 'https://source.unsplash.com/400x300/?hotel-room'" alt="room image">

          <!-- Price badge -->
          <div class="price-badge">
            ₹{{ room.pricePerNight }}/night
          </div>
        </div>

        <!-- Content -->
        <div class="room-body">
          <hr class="my-2">

          <!-- Title -->
          <h5 class="room-title">
            {{ room.roomType }}
          </h5>

          <!-- Capacity -->
          <p class="room-capacity">
            👥 {{ room.maxAdults }} Adults • {{ room.maxChildren }} Children
          </p>

          <!-- Availability -->
          <div class="availability mb-2">
            <span class="badge" [ngClass]="{
                'bg-success': room.availableRooms > 5,
                'bg-warning text-dark': room.availableRooms <= 5 && room.availableRooms > 0,
                'bg-danger': room.availableRooms === 0
              }">
              {{ room.availableRooms === 0
              ? 'Sold Out'
              : room.availableRooms + ' rooms left' }}
            </span>
          </div>

          <!-- Button -->
          <button class="btn book-btn" [routerLink]="['/booking', room.roomId]" [queryParams]="{ hotelId: hotelId }"
            [disabled]="room.availableRooms === 0">
            Book Now
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- EMPTY -->
  <div *ngIf="!loading && rooms.length === 0" class="alert alert-info">
    No rooms available.
  </div>
</div>