<div class="container py-5">
  <h2 class="fw-bold mb-4">My Bookings</h2>

  <!-- Loading -->
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border"></div>
  </div>

  <!-- No Data -->
  <div *ngIf="!loading && bookings.length === 0" class="alert alert-info">
    No bookings found.
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <!-- List -->
  <div class="row g-4" *ngIf="!loading && bookings.length > 0">
    <div class="col-md-6" *ngFor="let b of bookings">
      <div class="card border-0 shadow-sm rounded-4 p-3">
        
      <!-- Header -->
        <div class="d-flex justify-content-between align-items-center mb-2">
    
          <h5 class="fw-bold mb-0">
            {{ b.roomDetails?.roomType || 'Room' }}
          </h5>

      <!-- Status Badge -->
          <span class="badge px-3 py-2"
            [ngClass]="{
            'bg-warning text-dark': b.BookingStatus === 'Pending',
            'bg-success': b.BookingStatus === 'Confirmed',
            'bg-danger': b.BookingStatus === 'Cancelled'
            }">
            {{ b.BookingStatus }}
          </span>

        </div>

      <!-- Price -->
        <div class="mb-2">
          <small class="text-muted">Price per night</small><br>
          <strong>₹{{ b.PricePerNight }}</strong>
        </div>

      <!-- Dates -->
        <div class="row text-sm">
        <div class="col-6">
          <small class="text-muted">Check-In</small><br>
          <strong>{{ b.CheckInDate | date:'mediumDate' }}</strong>
        </div>

        <div class="col-6">
          <small class="text-muted">Check-Out</small><br>
          <strong>{{ b.CheckOutDate | date:'mediumDate' }}</strong>
        </div>
      </div>

      <!-- Footer -->
      <div class="d-flex justify-content-between align-items-center mt-3">

        <div>
          <small class="text-muted">Total</small><br>
          <strong>₹{{ b.TotalAmount }}</strong>
        </div>

          <button *ngIf="b.UserId && b.BookingStatus !== 'Cancelled' && b.BookingStatus !== 'Completed'"
                class="btn btn-outline-danger btn-sm"
                (click)="openCancelModal(b.BookingId)">
            Cancel
          </button>
      </div>

      </div>
    </div>
  </div>
</div>

<app-modal
  [show]="showModal"
  [title]="modalTitle"
  [message]="modalMessage"
  [type]="modalType"
  (onConfirm)="confirmCancel()"
  (onClose)="closeModal()">
</app-modal>